
*.jpg

css/font-awesome/css/font-awesome.css

css/bootstrap.min.css

css/font-awesome/fonts/fontawesome-webfont.eot

*.scss

*.png

*.icloud

*.less

*.otf

*.ttf

*.woff

*.css

*.woff2

*.svg

js/bootstrap.min.js

js/jquery.min.js

js/wow.min.js
